{% extends "app/layout.html" %}

{% block title %} Votar {% endblock %}

{% block content %}

<h1>Vota a la mejor pelicula</h1>
<h2>Formulario</h2>
<br />
<form method="post">
    {% csrf_token %}
    <table>
        {{ form.as_table }}
    </table>
    <input type="submit" value="Votar Pelicula"> <p></p><br />
</form>

<p><h2>Resultado de la votacion</h2></p>
{% if votadoB %}
<p style="color: green;">Has votado a la pelicula: {{votado}}</p>
{% endif %}
{% if error %}
<p style="color: red;">Ya has votado a esa pelicula</p>
{% endif %}
<br />
{% endblock %}
